.slider-container-1 {
    margin: 150px 0 170px 80px;
    width: 90%;
    max-width: 1600px;
    overflow: hidden;
    position: relative;
}

.slide {
    position: absolute;
    display: flex;
    gap: 60px;
    transition: transform 1s ease-in-out;
}
.buttons-1 {
    position: relative;
    display: flex;
    margin: 174px 0;
    justify-content: space-between;
}
.button-1,
.button-2 {
    border: none;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.button-1:hover,
.button-2:hover {
    background-color: #555;
}

.revi h2 {
    margin: 170px 0 170px 200px;
    color: white;
    font-weight: 400;
    font-size: 48px;
}

.revi span {
    font-weight: 700;
}